# Ignore node_modules folder
/node_modules/

# Ignore .angular folder
/.angular/
/.angular/cache/

# Build output
dist/
build/

# Webpack and Babel cache
.cache/

# Log files
*.log

App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins
