<div class="rounds-scroll">
  <div #roundsContainer class="rounds-container">
    <div 
      *ngFor="let round of rounds" 
      class="round-chip" 
      [class.active]="selectedRound === round"
      [class.current]="round === currentRound"
      (click)="onRoundChange(round)"
      #selectedRoundElement>
      {{ getRoundLabel(round) }}
      <ion-icon 
        *ngIf="round === currentRound" 
        name="radio" 
        class="live-indicator"
        [class.pulse]="isLiveRound">
      </ion-icon>
    </div>
  </div>
</div>