<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>User List</h1>
  
  <div *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Loading users... Please wait.</p>
  </div>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <ion-list *ngIf="!(loading || error)">
    <ion-item *ngFor="let user of users$ | async">
      <ion-label>
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <p>Username: {{ user.username || 'Not set' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!(loading || error) && (users$ | async)?.length === 0">
    <p>No users found.</p>
  </ion-text>
</ion-content>