.home-content {
  padding-top: 40px;
}

.main-title {
  font-size: 22px;
  margin-bottom: 20px;
}

ion-list {
  margin-top: 20px;
}

.logout-button {
  --padding-start: 8px;
  --padding-end: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1em;

  .user-name {
    margin-bottom: 4px;
    font-size: 1.1em;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .logout-container {
    display: flex;
    align-items: center;

    .logout-icon {
      font-size: 1.4em;
      margin-right: 6px;
    }

    .logout-text {
      font-size: 1.1em;
    }
  }
}